<!doctype html>
<html lang=de>

<head>
    <title>Spickshare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<nav style="display: flex; justify-content: space-between; align-items: center; padding: 0px;">
    {% if user.is_authenticated %}
        <h1>Spickshare</h1>
        <form action="{{ url_for('upload')}}">
             <button type="submit">Upload Cheatsheet</button>
        </form>
        <a href="{{ url_for('logout') }}">
            <button>Logout</button>
        </a>
    {% else %}
        <h1>Spickshare</h1>
        <a href="{{ url_for('login') }}">
            <button>Login</button>
        </a>

        <a href="{{ url_for('register') }}">
            <button>Register</button>
        </a>
    {% endif %}
</nav>
    <ul>
        {% for eintrag in eintraege %}
            <div class="eintrag">
                <li>{{ eintrag.titel }} | {{ eintrag.beschreibung }} | {{ eintrag.prof }}</li>
                <div class="buttons-links">
                    <form action="{{ url_for('vote') }}" method="POST">
                        <input type="hidden" name="id" value="{{eintrag.id}}">
                        <button type="submit" name="Voteinput" value="+">+</button>
                        <button type="submit" name="Voteinput" value="-">-</button>
                    </form>

                    <p>{{ eintrag.score }}</p>
                </div>
                    <div class="buttons-rechts">
                    <button>Vorschau</button>
                    <button>Download</button>
                </div>
            </div>
        {% endfor %}
    </ul>
</body>

</html>