{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="w-50 mx-auto mt-5">
  <h3 class="mb-4">Create a SpickShare Account</h3>
  <form method="POST" novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div>
{% endblock %}
